.navbar-brand
{
    font-size: xx-large;
}
.blue
{
    color: #537fbe;
}
.red
{
    color: #ea433b;
}
.yellow
{
    color: #f5b82e;
}
.green
{
    color: #2e944b;
}

.form-control
{
    display: inline-block;

    width: auto;
}

.large
{
    font-size: xx-large;
}

main
{
    overflow-x: auto;

    text-align: center;
}

img
{
    max-width: 100%;
}
table
{
    text-align: left;
}

tfoot
{
    font-weight: bold;
}
footer
{
    margin-bottom:25px;
}
input
{
    margin: 10px;
}
#check
{
    vertical-align: middle;
}
#t_reg
{
    margin-bottom: 10px;
}
#group_enter
{
    margin-bottom: 20px;
}
.profile
{
    margin-bottom: 35px;
}
.left
{
    float: left;
    margin-left: 25px;
    margin-right: 75px;
}
.right
{
    float: right;
    margin-right: 25px;
}
.grid-container
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
        'info graph'
        'news news';
    grid-gap: 10px;
    padding: 10px;
}

#info 
{
    grid-area:info; 
    border: solid lightgray 1px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: fit-content;
    width: auto;
}
#graph 
{
    grid-area:graph; 
    border: solid lightgray 1px;
    width: auto;
}
#news 
{
    grid-area:news; 
}
.news-span
{
    display: inline-block;
    width: 320px;
    vertical-align: top;
    height: 350px;
    padding: 5px;
    margin:5px;
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.news-p
{
    margin-top: 15px;
}
@media only screen and (max-width: 850px) {
    .grid-container
    {
        grid-template-columns: 95%;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas: 
            'info'
            'graph'
            'news';
    }
    .news-span
    {
        width: auto;
    }
    .right
    {
        float: left;
        margin-left: 25px;
        margin-right: 75px;
        text-align: left;
    }
    .left
    {
        text-align: left;
    }
}






